body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-slate);
    background-color: var(--color-white);
}

header {
    color: var(--color-cornflower);
    display: flex;
}

h2 {
    text-transform: capitalize; 
    text-align: center;
}

ul {
    list-style: none;
}

img {
    display: block;
}

:root {
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;
}

/* Page header */

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.page-header {
    min-height: 72px;
    border-bottom: 1px solid var(--color-cornflower);
    display: flex;
}

.nav-container {
    display: flex;
    align-items: center;
}

.nav-box {
    display: flex;
    align-items: center;
}

.list {
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
    margin-right: 76px;
}

.logo-link {
    color: var(--color-navy-blue);
}

.site-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
}

.nav-title {
    color: var(--color-navy-blue);
    padding: 24px 0;
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--color-ocean);
}

.site-nav .link.current {
    color: var(--color-iris);
}

.outh-nav {
    font-style: normal;
    display: flex;
    margin-left: auto;
}

.contact-list {
    display: flex;
    gap: 40px;
}

.contact {
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: var(--color-slate);
    margin: auto 24px;
}

.outh-nav .link:hover, 
.outh-nav .link:focus {
    color: var(--color-ocean);}

/* Main */

/* hero image */

.hero {
    background-color: var(--color-navy-blue);
    height: 600px;
    padding: 188px 0;
    Margin: 0 auto;
    Text-align: center
}

.subject {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-white);
}

.button-order {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: var(--color-white);
    background-color: var(--color-iris);
    font-family: inherit;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    height: 56px;
    min-width: 169px;
}
.button-order:hover,
.button-order:focus {background-color: var(--color-ocean);}

/* Section 1 */

.section-principles {
    padding: 120px 0;
}

.title-hidden {
    display: none;
    margin-bottom: 8px;
}

.principle-list {
    display: flex;
    gap: 24px;
}

 .principle-item {
     width: calc((100% - 72px) / 4);
 }

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    margin: 0;
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
}

/* Section 2 */

.doing-section {
    padding-bottom: 120px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-navy-blue);
}

.doing-title {
    margin-bottom: 72px;
}

.doing-list {
    display: flex;
    gap: 24px;
}

.doing-link {
   width: calc((100% - 48px) / 3) 
}

/* Section 3 */

.team-section {
    background-color: var(--color-cloud);
    padding: 120px 0;
}

.team-title {
    margin-bottom: 8px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-link {
    background-color: var(--color-white);
    text-align: center;
}

.employee {
    padding: 32px 16px;
    border-radius: 0 0 4px 4px;
}

.position {
    text-align: center;
    margin-bottom: 8px;
}

.name {
    text-align: center;
}

/* Filters */

.filter {
    padding: 96px 0 120px;
}

.filter-list {
    display: flex;
    margin: 96px auto 72px;
    justify-content: center;
    gap: 24px;
}
.button-filter {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: var(--color-iris);
    background-color: var(--color-cloud);
    cursor: pointer;
    border: 1px solid var(--color-cornflower);
    border-radius: 4px;
    padding: 12px 24px;
    }

.button-filter:hover,
.button-filter:focus {
    color: var(--color-white);
    background-color: var(--color-ocean);
    border: 1px solid transparent;}

.filter-title {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: space-between;
    }

.filter-title-text {
    margin: 8px auto 32px;
    color: var(--color-slate);
    }

.filter-subtitle {
    padding-top: 32px;
    text-align: left;
}

.filter-link {
    width: calc((100% - 48px) / 3)
}

.title-text {
    border: 1px solid var(--color-cornflower);
    border-top: none;
    margin-bottom: 8px;
    padding: 32px 16px;
}

/* Footer */

.footer {
    color: var(--color-cloud);
    background-color: var(--color-navy-blue);
    padding: 100px 0;
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
    margin-bottom: 16px;
    display: inline-block;
}

.logo-link-footer {color: var(--color-cloud);}

.logo-container {
    display: flex;
    align-items: start;
    flex-direction: column;
}
.logo-footer-text {
    max-width: 268px;
}